@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.widgetContainer {
  background-color: #efefef;
  height: 100px;
  width: 215px;
  text-align: center;
}
.container {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.extraCostContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}
.inputContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 215px 215px 215px 253px;
  max-width: 960px;
  margin: 20px 20px;
  gap: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
